/* LESS Document */
footer {
	background-color: @color-base;
	width: 100%;
	margin: 0 auto;
  	padding: 0;
	color: @color-footer-text;
	display: inline-block;
}
.aams{
	justify-content: space-between;
	.aams_logos{
		align-self: flex-end;
	}
}
