/* stile header */

.navbar-header {
	float: none;
	background-color: @color-base;
	min-height: 60px;
	.box-login {
		float: right;
		display: table;
		.login-items {
			display: table-cell;
			vertical-align: middle;
			height: 60px;
			::-webkit-input-placeholder { /* WebKit browsers */
			    color:    white;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			    color:    white;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			    color:    white;
			}
			:-ms-input-placeholder { /* Internet Explorer 10+ */
			    color:    white;
			}
			.no-log {
				display: none;
				button, input {
					padding: 3px 25px;
					margin: 0 5px;
					border: 0;
				}
				input {
					width: 150px;
					padding: 2px 25px;
					background: @color-base;
					border: rgba(255, 255, 255, 0.4) 1px solid;
					color: white;
				}
				input:first-child {
					margin-left: 0px;
				}
				.recovery-log {
				color: white;
				font-size: 11px;
				display: block;
				}
			}
			.logged {
				display: inline-block;
				p {
					margin: 0 40px 0 0;
					color: white;
				}
				div:nth-child(1) {
					border-right: #fff 1px solid;
					padding-right: 10px;
					display: inline-block;
				}
				div:nth-child(2) {
					padding-left: 10px;
					display: inline-block;
				}
				button {
					padding: 3px 25px;
					margin: 0 5px;
					border: 0;
					vertical-align: top;
				}
			}
		}
		.box-lang {
			display: inline-block;
			border: rgba(255, 255, 255, 0.4) 1px solid;
			padding: 2px 5px;
			vertical-align: top;
			p {
				display: inline-block;
				color: white;
				font-size: 12px;
				margin: 0;
			}
			span {
				color: rgba(255, 255, 255, 0.4);
				padding: 0 3px 0 10px;
			}
			select {
				border: 0;
				background-color: @color-base;
				color: white;
			}
		}
	}
}

.navbar-default {
	border-radius: 0;
	border: none;
	background-color: transparent;
	.navbar-nav  {
		font-size: 14px;
		height:40px;

		li {
			padding-left: 10px;
			padding-right: 10px;
			&.active {
				
				a {
					background-color: transparent;
					padding-bottom: 5px;
					color: @color-link-active;
					border-bottom: 5px solid @color-link-active;
					&:hover, :focus {
						background-color: transparent;
						color: @color-link-active;
					}
				}
			}
			a {
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 15px;
				padding-right: 15px;
				color: @color-link-text;
				text-transform: uppercase;
				&:hover {
					color: @color-link-active;
					border-bottom: 5px solid @color-link-active;
					padding-bottom: 5px;
				}
			}
		}
	}
}